.container{
		width:75%;
}

.phone{
		transform:scaleX(-1);

}

.card-index{
		width:35%;
}
.card-register{
	z-index:1;
	//opacity:0.5;
	//background-color:black;
	background:rgba(0,0,0,0.4);
}

body,html{
		overflow:hidden;
		max-width:100% !important;


}

body{
		background-image: url("../img/cover.jpeg");
		font-family: 'Robota';
		height: 100vh; 
		width:100%;

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin:0;
		padding:0;
		background: linear-gradient(53deg, rgba(144,56,91,0.75) 0%, rgba(9, 9, 121,0.5) 100%)url("../img/cover.jepg");
}

nav{
		background-color:#f5f5f5;
}


.container{
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
}

//image gradient

.image-gradient{
		position:relative;
		display:inline-block;
}
.image-gradient:after {
		content:'';
		position:absolute;
		left:0; top:0;
		width:100%; height:100%;
		overflow:auto !important;
		display:inline-block;
		background: -moz-linear-gradient(53deg, rgba(144,56,91,0.75) 0%, rgba(9, 9, 121,0.5) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5)));
		background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%);
		background: -o-linear-gradient(53deg, rgba(144,56,91,0.5) 0%, rgba(9, 9, 121,0.5) 100%);
		background: -ms-linear-gradient(53deg, rgba(144,56,91,0.5) 0%, rgba(9, 9, 121,0.5) 100%);
		background: linear-gradient(53deg, rgba(144,56,91,0.75) 0%, rgba(9, 9, 121,0.5) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 );
}
.image-gradient img{
		display:block;
}


//card-title css

.card-title{

}

//meadia-query
/* For mobile phones: */
[class*="col-"] {
		width: 100%;

}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ...  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ...  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ...  }
//media query for iphones
@media only screen
and (min-device-width : 320px)
and (max-device-width : 100%)
{
		iframe,.form-all { height:550px !important;  } 
}


.btn-submit{
border-radius:20rem;
color:#fff;
opacity:1;
font-weight:bold;
z-index:2;

}

.btn-nav{
		width:7rem;
		height:2rem;;
}

#label{
		color:white;
}

.grad-sub{
		background: rgb(45,123,244);
		background: linear-gradient(209deg, rgba(45,123,244,1) 0%, rgba(144,47,89,1) 76%, rgba(144,47,89,1) 100%, rgba(233,64,138,1) 100%);
}

#nepal{
		width:4rem;
		height:2rem;
}

.modal-img{
		max-height:100%;
		max-width:100%;
}

.btn-row{
		bottom:0;
		width:100%;
		position:absolute;
}

.smallify{
		font-size:0.8rem;
		text-decoration:underline;
}

.filtered{
		 filter: brightness(200%);
}
